
$color0: #2796aa;
$color1: #2bb4ad;
$color2: #4fcaa2;
$color3: #81dd91;
$color4: #baed7f;
$color5: #f9f871;
$fontcolor: #333;
$white: #ccc;
$accent: rgba(245, 27, 74, 0.6);

.bgdockbox {
	background-color: rgba($white, 0.9);
}
.bgcolor0 {
	background-color: rgba($color0, 0.9);
}
.bgcolor1 {
	background-color: rgba($color1, 0.9);
}
.bgcolor2 {
	background-color: rgba($color2, 0.9);
}
.bgcolor3 {
	background-color: rgba($color3, 0.9);
}
.bgcolor4 {
	background-color: rgba($color4, 0.9);
}
.bgcolor5 {
	background-color: rgba($color5, 0.9);
}