// the colors I in my bars. If you change them here they will be changed in all the widgets that use the according color
$color0: #303446;

$color1 :#f2d5cf;
$color2 : #ca9ee6;
$color3  :#a6d189;
$color4  :#81c8be;
$color5  :#8caaee;
$color6  :#eebebe;
$color7  :#e5c890;


$fontcolor: #c6d0f5;
$white: #ccc;
$accent: rgba(245, 27, 74, 0.6);

.bordercolor0 {
	border-color: $color6;
}
.bordercolor1 {
	border-color: $color1;
}
.bordercolor2 {
	border-color: $color2;
}
.bordercolor3 {
	border-color: $color3;
}
.bordercolor4 {
	border-color: $color4;
}
.bordercolor5 {
	border-color: $color5;
}
.bordercolor6 {
	border-color: $color6;
}
.bgcolor {
	background-color: $color0;
}
.bgcolor2 {
	background-color: $color4;
}
.bgcolor3 {
	background-color: $color6;
}
.bgcolor4 {
	background-color: $color7;
}