@charset "UTF-8";

@import "./color";
$box_design_border: 2em 5em 2em 5em;

/** Global *******************************************/
*{
	all: unset;
	font-family: feather;
	font-family: "JetBrains Mono";
	color: $fontcolor;
} 

.font_color {
	color: $fontcolor;
}
.font_large {
	font-size : 350%;
}

.font_medium {
	font-size : 250%;
	font-weight : bold;
}
.font_small {
	font-size : 160%;
	font-weight : bold;
}

.controls_offset {
	margin-top: -1em;
	margin-bottom: -1em;
}

.time_symbol {
	color: $color3;
	margin-bottom: -0.2em;
	padding-left: 0.5em;
}
.time_inner_box {
	margin: 0.6em;
	padding: 1em;
}
.home {
	padding-top: 0.2em;
}

.box_design {
	border-radius: $box_design_border;
}
.inner_box {
	border-bottom: 0.2em dashed;
	border-left: 0.2em solid;
	border-right: 0.2em dashed;
	border-color: $color3;
}
/** Icons ***********************************/
.symbol {
	padding-top: 0.5em;
}
.workspace {
	margin: 1em;
}
.active_workspace {
	background-color: $color4;
	border-radius: $box_design_border;
	margin: 0.5em;

}

/** System *************************************************/


.infotext {
	padding: 0px 5px 0px 5px;
	margin: 10px 0px 10px 0px;
	font-weight : bold;
}

.folder {
	padding: 5px 0px 5px 0px;
}

.header {
	border-bottom: 3px solid $accent;
}
.header_right {
	border-right: 3px solid $accent;
}

.iconlauncher {
	background-repeat: no-repeat;
	background-size: 50px 50px;
	background-position: center;
}

.iconlauncher, .folder, .button_hover{
	&:hover {
		background-color: $accent;
		border-radius: 30px;
	}
}
.round_button {
	&:hover {
		background-color: $accent;
		border-radius: 100%;
	}
}
.play {
	border-radius: 100px;
	padding: 2px 5px 2px 5px;

}
.sys_bar, scale trough {
	all: unset;
	background-color: $white;
	border-radius: 16px;
	min-height: 240px;
	min-width: 28px;
}
.sys_bar, scale trough highlight {
	all: unset;
	border-radius: 16px;
}
.sys_bar scale trough highlight {
	background-color: $accent;
}

.music_bar scale trough highlight {
	all: unset;
	background-color: $accent;
	border-radius: 8px;
}
.music_bar scale trough {
	all: unset;
	background-color: $white;
	border-radius: 16px;
	min-height: 20px;
	min-width: 250px;
	margin : 10px 0px 0px 0px;
}

.progress {
	min-height: 60px;
	min-width: 50px;
}

.darkend {
	background-color: rgba(0,0,0,0.7);
}

.music_progress {
	min-width:40px;
	min-height:260px;
}
.new_ep {
	background-color: rgba(194, 197, 36, 0.6);
	border-radius: 20px;
	margin-right: 10px;
	margin-left: 10px;

}
.no_new_ep {
	background-color: rgba(0, 0, 0,0.1);
	border-radius: 20px;
	margin-right: 10px;
	margin-left: 10px;
}
