@charset "UTF-8";

@import "./color";

$box_border_radius: 2em 5em 2em 5em;
$big_box_border_radius: 50% 10% 3% 3%;
$inner_box_width: 0em 0.2em 0.2em 0.2em;
$inner_box_style: none dashed solid dashed;

/** Global *******************************************/
*{
	all: unset;
	font-family: feather;
	font-family: "JetBrains Mono";
	color: $fontcolor;
} 

.font_large {
	font-size : 250%;
}

.font_medium {
	font-size : 150%;
	font-weight : bold;
}

.font_small {
	font-size : 100%;
	font-weight : bold;
}

.controls_offset {
	margin-top: -1em;
	margin-bottom: -1em;
}

.clock_symbol {
	color: $color2;
	margin-bottom: -0.3em;
	padding-left: 0.5em;
}

.date_symbol {
	color: $color4;
	margin-bottom: -0.3em;
	padding-left: 0.5em;
}

.date_inner_box {
	margin: 0.2em;
	padding: 0.6em;
	border-style: $inner_box_style;
	border-width: $inner_box_width;
	border-radius: $box_border_radius;
}

.clock_inner_box {  
	margin: 0.2em;
	padding: 0.6em;
	border-style: $inner_box_style;
	border-width: $inner_box_width;
	border-radius: $box_border_radius;
}
.outer_box_decoration {
	border-style: $inner_box_style;
	border-width: 0.3em;
	border-radius: $box_border_radius;
}
.big_outer_box_decoration {
	// border-style: $inner_box_style;
	// border-width: 0.6em;
	border-radius: $big_box_border_radius;
}
.home {
	padding-top: 0.2em;
}

.box_shape {
	border-radius: $box_border_radius;
}

/** Icons ***********************************/
.symbol {
	padding-top: 0.5em;
}
.workspace {
	margin: 1em;
}

.active_workspace {
	margin: 0.5em;
	border-color: $color6;
	border-style: $inner_box_style;
	border-width: 0.2em;
	border-radius: $box_border_radius;
}

// -------------DASHBOARD-------------
.circle {
	border-radius: 100%;
	margin-left: 10em;
	margin-right: 10em;
	padding-top: 10em;
	padding-bottom: 10em;
}
.rounded_box {
	border-radius: 2em;
	margin: 5em;
	// padding-top: 2em;
	// padding-bottom: 5em;
}
.weather_circle {
	// padding: 1em;
	margin: -1em;
	// margin-right: 2em;
	// margin-top: 1em;
	// margin-bottom: 1em;
	border-radius: 100%;
	border-color: $color6;
	border-width: 1em;
	border-style:inset;

}
.weather_box {
	border-radius: 2em;
	margin: 1em;
}

// From previous config.  TODO remove completely
.sys_bar, scale trough {
	all: unset;
	background-color: $white;
	border-radius: 16px;
	min-height: 240px;
	min-width: 28px;
}
.sys_bar, scale trough highlight {
	all: unset;
	border-radius: 16px;
}
.sys_bar scale trough highlight {
	background-color: $accent;
}

.music_bar scale trough highlight {
	all: unset;
	background-color: $accent;
	border-radius: 8px;
}
.music_bar scale trough {
	all: unset;
	background-color: $white;
	border-radius: 16px;
	min-height: 20px;
	min-width: 250px;
	margin : 10px 0px 0px 0px;
}

